.country-card {
  transition: all 0.75s ease-out;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    132deg,
    rgba(0, 0, 0, 1) 55%,
    rgba(70, 70, 70, 1) 100%
  );
  overflow: hidden;
  border-radius: 0.5rem;
  font-size: 15px;
  h2 {
    font-size: 18px;
    padding-bottom: 0.5 rem;
  }
  p {
    padding: 0.25rem 0;
  }
  &-info {
    padding: 2rem 1.5rem 2.5rem;
  }
  &-img {
    position: relative;
    height: 200px;
    overflow: hidden;
    img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
