@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");

:root {
  --white: hsl(0, 0%, 100%);

  --d-element: hsl(209, 23%, 22%);
  --d-bg: hsl(207, 26%, 17%);
  --d-text: var(--white);

  --l-text: hsl(200, 15%, 8%);
  --l-input: hsl(0, 0%, 52%);
  --l-bg: hsl(0, 0%, 98%);
  --l-element: var(--white);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nixie One", cursive;
}

.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}
